

  <body>
    <header>
  <nav class="navbar navbar-expand-md  navbar-dark bg-primary fixed-top ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
       
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/PedirTurno']" routerLinkActive="router-link-active" >Pedir turno</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <button class="btn btn-outline-danger my-2 my-sm-0" [routerLink]="['/Login']" routerLinkActive="router-link-active" >Salir</button>
      </form>
    </div>
  </nav>
</header>

<main role="main">

  <div id="myCarousel"  data-ride="carousel">
  
    <div class="carousel-inner clase1">
      <div class="carousel-item active">
        <img src="./../../../assets/images/header.jpg" class="img-fluid" >
        <div class="container">
          <div class="carousel-caption text-center">
            <p style="color: black;">En Clínica Modelo UTN, una de las especialidades que nos distingue en es la investigación médica.</p>
            <h1 style="color: black;">Todo el cuidado de tu salud en un mismo lugar.</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img src="./../../../assets/images/cuidado-de-la-salud.png" class="img-rounded" style="width: 25%" >
        <h2> Movimiento en la lucha contra el ACV</h2>
        <p>1 de cada 4 adultos podría sufrir un ACV, en cualquier momento y en cualquier lugar. Pero la gran mayoría de los Ataques Cerebrovasculares se pueden prevenir ¿Cómo? Manteniéndose en Movimiento.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="./../../../assets/images/x-ray.png" class="img-rounded" style="width: 25%">
        <h2>Diagnóstico por Imágenes</h2>
        <p>Centro integrado en diagnóstico por imágenes para tratamiento de patologías de complejidad baja mediana y alta.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="./../../../assets/images/documento-medico.png" class="img-rounded" style="width: 25%">
        <h2>Sistema de encuestas</h2>
        <p>Nuestro sistema de encuestas nos permite saber las necesidades de los pacientes para mejorar día a día.</p>
     
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading" [routerLink]="['/MisTurnos']" routerLinkActive="router-link-active" >Administra tus turnos de una manera fácil y rápida.</h2>
      </div>
      <div class="col-md-5">
        <img src="./../../../assets/images/turnos.jpg" class="img-rounded" style="width: 100%;height: 100%;">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p>Horario de atención:  Lunes a Viernes </p>
  </footer>
</main>
