<body>
  
    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    
      <mat-card class="box">
        <mat-card-header>
          <mat-card-title>Inicio de sesión</mat-card-title>
        </mat-card-header>
    
        <form class="example-form">
          <mat-card-content>
            <mat-form-field class="example-full-width">
              <input maxlength="30" matInput placeholder="Email" type="email" required [(ngModel)]="user.email" name="email">
            </mat-form-field>
    
            <mat-form-field class="example-full-width">
              <input maxlength="10" matInput placeholder="Clave" type="password" required [(ngModel)]="user.password" name="password">
            </mat-form-field>
          </mat-card-content>
    
          <div class="display-flex">
    
            <button pButton pRipple type="button" (click)="Login()" label="Ingresar"  class="p-button-info" style="width: 100%;"></button>

          </div>
    
          <div class="display-flex">
    
            <button pButton pRipple type="button" label="Admin" (click)="fillInput('admin')" class="p-button" style="width: 100%;"></button>

          </div> 
          <div class="display-flex">
    
            <button pButton pRipple type="button" label="Médico" (click)="fillInput('medico')" class="p-button-success" style="width: 100%;"></button>

          </div> 
          <div class="display-flex">
    
            <button pButton pRipple type="button" label="Paciente" (click)="fillInput('paciente')" class="p-button-help" style="width: 100%;"></button>

          </div> 

    
          <div class="display-flex">
            <a [routerLink]="['/Registro']">Registrarse</a>
    
          </div>
    
    
        </form>
      </mat-card>
    
    </div>
    <p-toast position="bottom-center"></p-toast>
    </body>
    