<app-menu></app-menu>

<body>
    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" *ngIf="!estaCargando">
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Elija la especialidad <br>
                        <label *ngIf="especialidad">{{especialidad}}</label>
                    </ng-template>
                    <mat-list>
                        <mat-list-item *ngFor="let item of especialidades" (click)="comboChange(item)" class="lista">
                            {{item}} </mat-list-item>
                    </mat-list>
                    <input hidden formControlName="especialidad">
                    <div>
                        <button mat-button color="primary" matStepperNext>Siguiente</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Elija el profesional <br>
                        <label *ngIf="medicoSeleccionado">{{medicoSeleccionado.name}}</label>
                    </ng-template>
                    <mat-list>
                        <mat-list-item *ngFor="let medico of medicos" (click)="obtenerDias(medico)" class="lista">
                            {{medico.name}} </mat-list-item>
                    </mat-list>
                    <input hidden formControlName="medicoSeleccionado">

                    <div>
                        <button mat-button color="primary" matStepperPrevious
                            (click)="limpiarMedico()">Atras</button>
                        <button mat-button color="primary" matStepperNext>Siguiente</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="thirdFormGroup">
                <form [formGroup]="thirdFormGroup">
                    <ng-template matStepLabel>Elija la fecha <br>
                        <label *ngIf="fechaMostrar">{{fechaMostrar.toLocaleDateString()}}</label>
                    </ng-template>
                    <mat-list>
                        <mat-list-item *ngFor="let fecha of diasDisponibles" class="lista"
                            (click)="obtenerHorarios(fecha)"> {{fecha.toLocaleDateString()}} </mat-list-item>
                    </mat-list>
                    <input hidden formControlName="fecha">

                    <div>
                        <button mat-button color="primary" matStepperPrevious
                            (click)="limpiarFecha()">Atras</button>
                        <button mat-button color="primary" matStepperNext>Siguiente</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="fourFormGroup">

                <form [formGroup]="fourFormGroup">
                    <ng-template matStepLabel>Elija el horario <br>
                        <label *ngIf="turnoSeleccionado">{{turnoSeleccionado.horario}}</label>
                    </ng-template>
                    <mat-list>
                        <mat-list-item *ngFor="let turno of turnos" (click)="asignarHorario(turno)" class="lista">
                            {{turno.horario}} </mat-list-item>
                    </mat-list>
                    <input hidden formControlName="turnoSeleccionado">

                    <div>
                        <button mat-button color="primary" matStepperPrevious
                            (click)="limpiarTurno()">Atras</button>
                        <button mat-button color="primary" matStepperNext>Siguiente</button>
                    </div>
                </form>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Listo</ng-template>
                <div *ngIf="turnoSeleccionado">
                    <h1>Especialidad: {{turnoSeleccionado.especialidad}}</h1>
                    <h1>Médico: {{turnoSeleccionado.medico.name}}</h1>
                    <h1>Fecha: {{turnoSeleccionado.fecha.toLocaleDateString()}}</h1>
                    <h1>Horario: {{turnoSeleccionado.horario}}</h1>
                </div>
                <div>
                    <button mat-button color="primary" matStepperPrevious>Atras</button>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="Confirm()">Confirmar</button>

                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
    <p-toast position="bottom-center"></p-toast>
</body>